<!DOCTYPE html>
<html>
<head>
  <title>Todo List - Team 11</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav class="navbar navbar-dark bg-dark">
	     <div class="collapse navbar-collapse" id="navbarNav">
	     	<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
	     		<a class="navbar-brand active" href="/">ToDo App</a>
     		    <% if current_user %> 
     		    	<li class="nav-item active ">
     			 		<span class="txt-light"> You are logged in as <%= current_user.login %> </span>
     			 	</li>

     			  	<li class="nav-item active"><%= link_to "Logout", '/logout' %></li>
     				<li class="nav-item active"><%= link_to "Edit", '/edit' %></li>
     			<% else %>
     				<%= link_to 'Login', '/login' %> 
     			<% end %>
	     	</ul>
	     </div>
	</nav>


	<%= yield %>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
